<html>
  <head>
    <title>Newly added template</title>
  </head>
  <body>
    {{!-- Example of partial --}}
    {{> header}}
    {{!-- Example of writing & using custom helper (see run-scripts/valid-html.ts) --}}
    <p>To: {{name}}</p>
    {{> footer}}
  </body>
</html>