<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    {{!-- Example of partial --}}
    {{> header}}
    <p>A new login for username: {{username}} was detected on the {{loginDateTime}} for device: {{deviceId}}</p>
    {{> footer}}
  </body>
</html>